
#header{
  padding-bottom: 16px;
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  border-bottom-right-radius: 32px;
  h1{
    font-size: 18px;
    font-weight: normal;
    span{
      display: block;
      font-size: 42px;
      font-weight: bold;
    }
  }
}
